</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="ui page padded grid">
  <div class="column">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ui center aligned ten wide column">
        <h1 class="ui header">流行语检索</h1>
        <form class="ui form" action="/catchwords/show" method="post">
          <div class="ui fluid huge icon input">
            <input type="text" name="word" placeholder="Word...">
            <i class="search icon"></i>
          </div>
         </form>
      </div>
      <div class="three wide column"></div>
    </div>
  </div>
</div>

