$def with(dates,checked_dates,fig)
</br>
</br>
</br>
</br>
<div class="ui page padded grid">
  <div class="column">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ui center aligned ten wide column">
        <h1 class="ui header">词义检索</h1>
        <form class="ui form" action="/pca/show" method="post">
          <div class="ui fluid huge icon input">
            <input type="text" name="words" placeholder="Word...">
            <i class="search icon"></i>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            $for date in dates:
              <div class="column">
                <div class="ui toggle checkbox">
                  $if date in checked_dates:
                    <input type="checkbox" checked="checked" id="$date" name="$date">
                  $else:
                    <input type="checkbox" id="$date" name="$date">
                  <label for="$date">$date</label>
                </div>
              </div>
          </div>

        </form>
      </div>
      <div class="three wide column"></div>
    </div>

    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
    </h4>
  </div>
</div>

  <div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
      <div id="main" class="ui segment">
        <img src="data:image/png;base64,$fig">
      </div>
    </div>
    <div class="three wide column"></div>
  </div>
