$def with (dates,checked_dates,word,words,batch_distant,json_format_distant)
</br>
</br>
</br>
</br>
<div class="ui page padded grid">
  <div class="column">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ui center aligned ten wide column">
        <h1 class="ui header">词义检索</h1>
        <form class="ui form" action="/semantics/show" method="post">
          <div class="ui fluid huge icon input">
            <input type="text" name="word" placeholder="Word...">
            <i class="search icon"></i>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            $for date in dates:
              <div class="column">
                <div class="ui toggle checkbox">
                  $if date in checked_dates:
                    <input type="checkbox" checked="checked" id="$date" name="$date">
                  $else:
                    <input type="checkbox" id="$date" name="$date">
                  <label for="$date">$date</label>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="three wide column"></div>
    </div>

    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
      $word
    </h4>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ui center aligned twelve wide column">
        <table class="ui table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Semantics</th>
            </tr>
          </thead>
          <tbody>
          $for date in checked_dates:
            <tr>
              <td>$date</td>
              <td>$' '.join(words[date])</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column"></div>
    </div>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ui center aligned twelve wide column">
        $for date in checked_dates:
        $date
          <table class="ui table">
            <thead>
              <tr>
                <th>Meaning</th>
                <th>Words</th>
                <th>Distance</th>
              </tr>
            </thead>
            <tbody>
              $for index,m in enumerate(batch_distant[date]):
                <tr>
                  <td>$(index+1)</td>
                  <td>$' '.join(m[0])</td>
                  <td>$m[1]</td>
                </tr>
            </tbody>
          </table>
      </div>
      <div class="two wide column"></div>
    </div>

  </div>
</div>

  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="one wide column">
      <div class="ui compact vertical labeled menu">
        $for date in checked_dates:
          <a class="item">$date </a>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="ten wide column">
      <div class="ui segment">
      </div>
    </div>
    <div class="two wide column"></div>
  </div>

<script type="text/javascript">
  $$('.ui.menu')
    .on('click', '.item', function() {
        $$(this).addClass('active').siblings('.item').removeClass('active');
        var date=$$(this).text()
    });
</script>

<div id="main" style="height:400px"></div>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
  all_data=$:json_format_distant
  require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['销量']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"销量",
                            "type":"bar",
                            "data":[5, 20, 40, 10, 10, 20]
                        }
                    ]
                };
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
</script>
