$def with (dates,checked_dates,word,words,batch_distant,json_format_distant,jointly_search,collocation_result,intersection)
</br>
</br>
</br>
</br>
<div class="ui page padded grid">
  <div class="column">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ui center aligned ten wide column">
        <h1 class="ui header">词义检索</h1>
        <form class="ui form" action="/semantics/show" method="post">
          <div class="ui fluid huge icon input">
            <input type="text" name="word" placeholder="Word...">
            <i class="search icon"></i>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            $for date in dates:
              <div class="column">
                <div class="ui toggle checkbox">
                  $if date in checked_dates:
                    <input type="checkbox" checked="checked" id="$date" name="$date">
                  $else:
                    <input type="checkbox" id="$date" name="$date">
                  <label for="$date">$date</label>
                </div>
              </div>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            <div class="column">
                <div class="ui toggle checkbox">
                  <input type="checkbox" checked="checked" id="joint" name="joint">
                  <label for="joint">联合</label>
                </div>
            </div>
          </div>

        </form>
      </div>
      <div class="three wide column"></div>
    </div>

    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
      $word
    </h4>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ui center aligned twelve wide column">
        <table class="ui table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Semantics</th>
            </tr>
          </thead>
          <tbody>
          $for date in checked_dates:
            <tr>
              <td>$date</td>
              <td>$' '.join(words[date])</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column"></div>
    </div>

    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
      $word
    </h4>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ui center aligned twelve wide column">
        <table class="ui table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Semantics</th>
            </tr>
          </thead>
          <tbody>
          $for date in checked_dates:
            <tr>
              <td>$date</td>
              <td>$' '.join(collocation_result[date])</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column"></div>
    </div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="one wide column"></div>
  <div class="one wide column">
    <div class="ui compact vertical labeled menu">
      $for date in checked_dates:
        <a class="item" id='button_$date'>$date</a>
    </div>
  </div>
  <div class="nine wide column">
    <div id="main" class="ui segment" style="height:400px">
    </div>
  </div>
  <div class="three wide column"></div>
</div>

<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
  require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
  require(
      [
          'echarts',
          'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
      ],
      function (ec) {
          // 基于准备好的dom，初始化echarts图表
          var myChart = ec.init(document.getElementById('main'));
          var meaning=[]
          for (var i=0;i<all_data[date].length;i++){
            meaning.push(all_data[date][i][0].slice(0,4))
          }
          var meaning_data=[]
          for (var i=0;i<all_data[date].length;i++){
            meaning_data.push({value:all_data[date][i][1], name:all_data[date][i][0].slice(0,4)})
          }
          var option = {
            title : {
                text: '某楼盘销售情况',
                subtext: '纯属虚构'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['意向','预购','成交']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'成交',
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:[10, 12, 21, 54, 260, 830, 710]
                },
                {
                    name:'预购',
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:[30, 182, 434, 791, 390, 30, 10]
                },
                {
                    name:'意向',
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:[1320, 1132, 601, 234, 120, 90, 20]
                }
            ]
        }; 
        // 为echarts对象加载数据 
        myChart.setOption(option); 
      }
  );
</script>
