$def with (dates,word,words,checked_dates)
</br>
</br>
</br>
</br>
<div class="ui page padded grid">
  <div class="column">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ui center aligned ten wide column">
        <h1 class="ui header">词义检索</h1>
        <form class="ui form" action="/semantics/show" method="post">
          <div class="ui fluid huge icon input">
            <input type="text" name="word" placeholder="Word...">
            <i class="search icon"></i>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            $for date in dates:
              <div class="column">
                <div class="ui toggle checkbox">
                  $if date in checked_dates:
                    <input type="checkbox" checked="checked" id="$date" name="$date">
                  $else:
                    <input type="checkbox" id="$date" name="$date">
                  <label for="$date">$date</label>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="three wide column"></div>
    </div>

    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
      $word
    </h4>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="ui center aligned twelve wide column">
        <table class="ui table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Semantics</th>
            </tr>
          </thead>
          <tbody>
          $for word in words:
            <tr>
              <td>$word[0]</td>
              <td>$' '.join(word[1])</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column"></div>
    </div>
  </div>

  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="one wide column">
      <div class="ui compact vertical labeled menu">
        <a class="item"> Games </a>
        <a class="item"> Channels </a>
        <a class="item"> Videos </a>
      </div>
    </div>
    <div class="one wide column"></div>
    <div class="ten wide column">
      <div class="ui segment" id="year_content">
        This is an stretched grid column. This segment will always match the tab height
      </div>
    </div>
    <div class="two wide column"></div>
  </div>
</div>
<script type="text/javascript">
  $$('.ui.menu')
    .on('click', '.item', function() {
        $$(this).addClass('active').siblings('.item').removeClass('active');
        var year=$$(this).text()
        $$("#year_content").append(year);
    });
</script>