$def with (dates)

</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="ui page padded grid">
  <div class="column">
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="ui center aligned ten wide column">
        <h1 class="ui header">词义检索</h1>
        <form class="ui form" action="/semantics/show" method="post">
          <div class="ui fluid huge icon input">
            <input type="text" name="word" placeholder="Word...">
            <i class="search icon"></i>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            $for date in dates:
              <div class="column">
                <div class="ui toggle checkbox">
                  <input type="checkbox" checked="checked" id="$date" name="$date">
                  <label for="$date">$date</label>
                </div>
              </div>
          </div>
          <div class="ui four column center aligned stackable divided grid segment">
            <div class="column">
                <div class="ui toggle checkbox">
                  <input type="checkbox" checked="checked" id="joint" name="joint">
                  <label for="joint">联合</label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three wide column"></div>
    </div>
  </div>
</div>

